[CRAB]
jobtype = cmssw
scheduler = glidein
use_server = 1

[CMSSW]
#nEvents = 5476728
#nFiles = 606
datasetpath = /TTJets_matchingdown_TuneZ2star_8TeV-madgraph-tauola/Summer12_DR53X-PU_S10_START53_V7A-v1/AODSIM
pset = BristolAnalysis/NTupleTools/test/makeTuples_cfg.py
total_number_of_events = -1
number_of_jobs = 700
get_edm_output = 1
pycfg_params = useData=0 dataType=TTJets-matchingdown skim=LeptonPlus3Jets

[USER]
additional_input_files = BristolAnalysis/NTupleTools/data/PileUp/*.root
return_data = 0
copy_data = 1
storage_element = T2_UK_SGrid_Bristol
user_remote_dir = TTJets_matchingdown_TuneZ2star_8TeV-madgraph-tauola_Summer12_DR53X-PU_S10_START53_V7A-v1_AODSIM_nTuple_v9a_LeptonPlus3Jets_final
check_user_remote_dir = 0
ui_working_dir = TTJets_matchingdown_TuneZ2star_8TeV-madgraph-tauola_Summer12_DR53X-PU_S10_START53_V7A-v1_AODSIM_nTuple_v9a_LeptonPlus3Jets_final
#email = your.name@cern.ch

#for publishing a dataset
#publish_data = 1
#publish_data_name = nTuple_v9a_Summer12-PU_S7_START52_V9-v1_LeptonPlus3Jets
#dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_02_writer/servlet/DBSServlet

[GRID]
se_white_list=T1_FR_CCIN2P3_Buffer, T1_FR_CCIN2P3_MSS, T2_DE_DESY, T2_ES_IFCA, T2_UK_SGrid_RALPP
se_black_list=T2_US_Wisconsin, T2_US_Nebraska