/.pydevproject
*.py[cod]
python/__init__.py
python/commonConfig.py
python/submissionScripts/condor/*.out
python/submissionScripts/condor/*.log
python/submissionScripts/condor/*.err
python/submissionScripts/__init__.py
python/submissionScripts/condor/__init__.py
python/htcondenser
workspace*
.vagrant
*.cmsgit-cache*
